# Environments
.env
.env.*
!.env.example

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log

# Python/Django
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
db.sqlite3
*.log

# OS
.DS_Store
Thumbs.db
